#nav {
  margin-bottom: 20px;
}

.searchBtn {
  background: url('../public/images/search.png') no-repeat local;
  background-size: 100% 100%;
  border-radius: 5px;
  padding: 15px;
  display: table-cell;
  vertical-align: middle;
}

#logo {
  display: block;
  padding-bottom: 10px;
  margin: auto;
}

#yelp_logo {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
}

#nav > .SearchBar {
  display: block;
  padding-bottom: 30px;
  margin: auto;
  width: 600px;
}

.SearchBar > * {
  float: left;
  margin-right: 5px;
}

.SearchBar > .InputKeyword > *, .SearchBar > .InputLocation > * {
  display: inline;
  margin-right: 5px;
}

#credit > h2 {
  display: inline-block;
  font-size: 1.5rem;
}

#credit {
  display: block;
  margin: auto;
  width: 280px;
}

.rating > .stars {
  display: inline-block;
  width: 100px;
  margin-right: 5px;
  vertical-align: middle;
}

.rating > p {
  display: inline;
  vertical-align: middle;
}

.details > .imgs {
  display: inline-block;
  margin-right: 25px;
}

.imgs > .pic {
  display: block;
  height: 300px;
  margin-bottom: 10px;
}

.info > h1 {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}

.imgContainer {
  display: inline-block;
  width: 30%;
  margin: 1em;
}

canvas {
  display: block;
  margin: auto;
}